@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

main {
  width: 90%;
  height: auto;
  text-decoration: none;
  padding: 0;
  margin: 0 auto;
}

label {
  display: none;
}

#burger {
  display: none;
}

header {
  background-image: url(../img/background.png);
  background-size: cover;
  height: 70vh;
  background-color: #38588e;
}

.background {
  position: absolute;
  right: 25%;
  top: 45vh;
  color: #ca9f1d;
  z-index: 10;
  font-size: 7em;
}

.navigation a:hover {
  background-color: #ca9f1d;
}

.accueil {
  height: 80vh;
}

.ul {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*justify-content: space-between;*/
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 15vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navigation {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*justify-content: space-between;*/
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

nav {
  background-color: #38588e;
  padding: 10px;
}

.btn {
  display: block;
  text-decoration: none;
  color: #eee;
  padding: 8px;
}

.btn-menu {
  display: block;
  text-decoration: none;
  color: #eee;
  padding: 8px;
  margin-top: 15px;
}

a {
  margin-bottom: 10px;
}

h2 {
  text-align: center;
}

.img {
  position: relative;
}

.text_image {
  margin-bottom: 12px;
}

#coupscoeur {
  width: 15%;
  height: auto;
  text-decoration: none;
  padding: 8px;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: right;
  position: absolute;
  background: black;
  opacity: 0;
  top: 90vh;
  margin-right: 8px;
  margin-left: 70px;
  -webkit-transition: opacity ease-in 300ms;
  transition: opacity ease-in 300ms;
  color: #ca9f1d;
  z-index: 10;
}

.galerieArticle:hover #coupscoeur {
  opacity: 0.8;
}

.galerieArticle:hover {
  cursor: pointer;
}

.galerieArticle:hover img {
  -webkit-filter: blur(3px);
  filter: blur(3px);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.galerieArticle {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
}

.galerieArticle img {
  -webkit-filter: blur(0);
  filter: blur(0);
  -webkit-box-shadow: -10px 20px #ca9f1d;
          box-shadow: -10px 20px #ca9f1d;
}

.galerieAccueil {
  width: 90%;
  height: auto;
  text-decoration: none;
  padding: 50px;
  margin: 0 auto;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*justify-content: space-between;*/
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 50px;
  margin-top: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bouton {
  width: 90%;
  height: auto;
  text-decoration: none;
  padding: 5px;
  margin: auto 35%;
  text-decoration: none;
  color: #38588e;
  background-color: #eee;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bouton:hover {
  background-color: #ca9f1d;
  color: #eee;
  background-color: #ca9f1d;
}

article {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.barre {
  width: 80%;
  height: 10px;
  text-decoration: none;
  padding: 0;
  margin: 0 10%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #38588e;
  margin-top: 20px;
}

.infosAccueil {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*justify-content: space-between;*/
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: auto;
  height: auto;
  text-decoration: none;
  padding: 5px;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.articleAccueil {
  width: 30%;
  height: auto;
  text-decoration: none;
  padding: 6px;
  margin: 0;
}

.titres {
  color: #ca9f1d;
}

.date-choix {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*justify-content: space-between;*/
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.btn-origine {
  display: block;
  text-decoration: none;
  color: #ca9f1d;
  padding: 8px;
}

.btn-origine:hover {
  background-color: #ca9f1d;
  color: #eee;
  border-radius: 5%;
}

.contenu {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  margin: 0 auto;
}

.contenu .move-right {
  -webkit-transform: translateX(-30%);
          transform: translateX(-30%);
  -webkit-transition: transform 2s ease-in;
}

.contenu .move-left {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: transform 2s ease-in;
}

/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.timeline ul {
  padding: 50px 0;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #38588e;
}

.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 12px 10px;
  background: #38588e;
  color: #eee;
}

.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #ca9f1d transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -439px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #ca9f1d;
}

time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}

/* EFFECTS
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.timeline ul li::after {
  -webkit-transition: background .5s ease-in-out;
  transition: background .5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: #ca9f1d;
}

.timeline ul li div {
  visibility: none;
  opacity: 0;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  -webkit-transform: translate3d(200px, 0, 0);
          transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  -webkit-transform: translate3d(-200px, 0, 0);
          transform: translate3d(-200px, 0, 0);
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.timeline ul li.in-view div {
  -webkit-transform: none;
          transform: none;
  visibility: visible;
  opacity: 1;
}

.categories {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*justify-content: space-between;*/
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 50vh;
  padding-top: 100px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#part1, #part3 {
  padding-top: 25px;
  padding-bottom: 75px;
  margin-top: 10px;
}

#part2, #part4 {
  padding-top: 25px;
  padding-bottom: 75px;
  margin-top: 100px;
  background-color: #38588e;
  color: #eee;
}

.chanteur {
  display: block;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.chanteur h3 {
  justify-items: center;
}

.chanteur img {
  -webkit-filter: blur(0);
  filter: blur(0);
  -webkit-box-shadow: -10px 20px #ca9f1d;
          box-shadow: -10px 20px #ca9f1d;
}

.chanteur:hover {
  cursor: pointer;
}

.chanteur:hover img {
  -webkit-filter: blur(3px);
  filter: blur(3px);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.chanteur:hover p {
  opacity: 0.8;
}

.media-fluid {
  width: 100%;
  height: auto;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

#bio {
  width: 100%;
  height: auto;
  text-decoration: none;
  padding: 10px;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: right;
  position: absolute;
  background: black;
  opacity: 0;
  top: 60px;
  right: 0px;
  -webkit-transition: opacity ease-in 300ms;
  transition: opacity ease-in 300ms;
  color: #ca9f1d;
  z-index: 10;
}

/*----------------------------*/
.chanteur:hover #bio {
  opacity: 0.8;
}

.lien:hover {
  background-color: #ca9f1d;
}

.fa-star {
  color: gray;
  cursor: pointer;
  padding: 0.0625rem;
}

.fa-star.gold {
  color: #ffdc0f;
}

.rating {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*justify-content: space-between;*/
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stars {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 3em;
}

.stars:hover .fa-star {
  color: #ffdc0f;
}

.stars .fa-star:hover ~ .fa-star {
  color: gray;
}

.etoiles {
  width: 100%;
  height: auto;
  text-decoration: none;
  padding: 0;
  margin: auto;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*justify-content: space-between;*/
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #000;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 20;
}

.etoile:hover {
  cursor: pointer;
}

.etoile {
  padding: 12px;
  color: #eee;
  z-index: 20;
}

.colorer {
  padding: 12px;
  color: #000;
  background-color: yellow;
}

.liste {
  margin: 50px;
}

#js-courant {
  display: block;
}

.liste {
  display: block;
}

.box {
  padding: 5px;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box h3 {
  margin: 0 auto;
}

.imgCourant {
  width: 50%;
  height: auto;
  text-decoration: none;
  padding: 0;
  margin: 0;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*justify-content: space-between;*/
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: 10px;
}

.textCourant {
  margin: 100px 20px;
}

.courantContent {
  margin: 25px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.galerieContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 5 10px;
}

.galerieContent {
  display: block;
  margin: 15px;
}

.galerieContent img {
  -webkit-box-shadow: -10px 20px 50px grey;
          box-shadow: -10px 20px 50px grey;
  cursor: pointer;
}

.js-titre {
  text-align: center;
  margin-bottom: 20px;
}

.style {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*justify-content: space-between;*/
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.barre2 {
  width: 80%;
  height: 10px;
  text-decoration: none;
  padding: 0;
  margin: 0 10%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ca9f1d;
  margin-top: 20px;
  margin-bottom: 20px;
}

.galerieVideo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.galerieVideo .videoContain {
  margin: 12px 20px 0 12px;
}

/* Modale */
.modale {
  width: 100%;
  height: 100vh;
  background-color: rgba(51, 51, 51, 0.664);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}

.modale-window {
  width: 50%;
  background-color: #fff;
  border-radius: 10px;
}

.modale main {
  background-color: #fff;
}

.modale-container {
  width: 100%;
  height: 500px;
  text-decoration: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 70vh;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*justify-content: space-between;*/
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 80px;
}

.modale-container img {
  width: 80%;
  height: auto;
}

.modale h3 {
  display: block;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.close-btn {
  font-size: 2em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  margin-left: 95%;
  margin-top: 10px;
}

.close-btn:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.modale header {
  border-radius: 5px 5px 0 0;
}

.formulaire {
  width: 50%;
  height: auto;
  text-decoration: none;
  padding: 0;
  margin: 0 auto;
}

.participation {
  margin-top: 5%;
  margin-bottom: 5%;
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.participation h2 {
  color: #38588e;
}

.instructions {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*justify-content: space-between;*/
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.instructions h3 {
  color: #ca9f1d;
  text-align: center;
}

.instructions .pourquoi {
  width: 50%;
  height: auto;
  text-decoration: none;
  padding: 0;
  margin: 0 auto;
}

.ecoutez {
  width: 50%;
  height: auto;
  text-decoration: none;
  padding: 0;
  margin: 0 auto;
  display: block;
  text-align: center;
}

.inscription h2 {
  color: #ca9f1d;
}

.inscription fieldset {
  border-radius: 5px;
}

.inscription ul {
  list-style: none;
  padding: 0;
}

.inscription li {
  padding: 0.8em;
}

.inscription label {
  width: 100%;
  display: block;
  margin-bottom: 5px;
}

.inscription input, .inscription select, .inscription button {
  width: 100%;
  height: auto;
  text-decoration: none;
  padding: 0.8em;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

.inscription button {
  background-color: #38588e;
  color: #eee;
  border: 1px solid #ccc;
  cursor: pointer;
}

.inscription button:hover {
  background-color: #ca9f1d;
  color: #222;
}

.inscription #js-erreur {
  padding: 1em;
  background-color: #ef2c09;
  color: #eee;
  border-radius: 5px;
  display: none;
}

.validation {
  display: none;
  margin-top: 8px;
  border-radius: 5px;
  border: 1px solid black;
}

.validation h2 {
  border-bottom: 1px solid black;
  margin: 0 auto;
}

.validation p {
  margin: 0;
  padding: 50px 0;
  background-color: #008000;
  color: #eee;
  text-align: center;
  font-size: 2em;
}

footer {
  margin-top: 200px;
  height: 20vh;
  color: #eee;
  background-color: #38588e;
}

footer ul {
  padding-top: 12px;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*justify-content: space-between;*/
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer ul .btn {
  margin: 0 50px 0 50px;
}

footer p {
  text-align: center;
}

/* GENERAL MEDIA QUERIES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/
  }
}

@media screen and (max-width: 800px) {
  main {
    width: auto;
    height: auto;
    text-decoration: none;
    padding: 0;
    margin: 0 auto;
    margin: 0 auto;
  }
  .navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: none;
  }
  .navigation a {
    display: block;
    padding: 12px;
  }
  .menu a:hover {
    background-color: #ca9f1d;
    color: #eee;
  }
  .btn-burger {
    position: absolute;
    right: 10px;
    top: 3px;
    font-size: 1.5em;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    cursor: pointer;
    display: block;
    position: absolute;
    right: 15px;
    top: 32px;
    color: #ca9f1d;
  }
  #burger:checked ~ .navigation {
    display: block;
  }
  header {
    background-position: 10%;
    background-size: cover;
  }
  .accueil {
    height: auto;
  }
  .galerieAccueil {
    display: block;
  }
  .infosAccueil {
    display: block;
    margin: 0 auto;
  }
  .articleAccueil {
    width: 90%;
    height: auto;
    text-decoration: none;
    padding: 0;
    margin: 5px;
  }
  .text_image {
    margin-bottom: 20px;
  }
  #coupscoeur {
    width: 50%;
    height: auto;
    text-decoration: none;
    padding: 2px;
    margin: 0;
    position: initial;
    opacity: 1;
    width: 90%;
    margin-top: 20px;
    background-color: white;
    color: black;
    text-align: justify;
  }
  .galerieArticle:hover #coupscoeur {
    opacity: 1;
  }
  .galerieArticle:hover img {
    -webkit-filter: blur(0);
  }
  .bouton {
    margin: 0 auto;
  }
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #ca9f1d transparent transparent;
  }
  .liste {
    margin: 0 12px;
    padding: 0;
  }
  .box {
    display: block;
    padding: 0;
  }
  .box h3 {
    margin: 0 auto;
  }
  .imgCourant {
    width: 100%;
    height: auto;
    text-decoration: none;
    padding: 0;
    margin: 0 auto;
    margin-right: 0;
  }
  .textCourant {
    margin: 20px 0 45px 0;
  }
  .courantContent {
    display: block;
  }
  body {
    height: auto;
  }
  #part1, #part2, #part3, #part4 {
    height: 2800px;
  }
  .categories {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /*justify-content: space-between;*/
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .chanteur {
    width: auto;
    height: auto;
    text-decoration: none;
    padding: 5px;
    margin: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-bottom: 20px;
  }
  .galerieContainer {
    display: block;
  }
  .close-btn {
    margin-left: 85%;
  }
  .modale-window {
    height: 500px;
    width: 90%;
  }
  #js-titre {
    margin-left: 12px;
    margin-top: 0;
  }
  #js-picture {
    height: auto;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .modale-container {
    width: 100%;
    height: 80px;
    text-decoration: none;
    padding: 0;
    margin: 0;
  }
  .galerieVideo {
    display: block;
  }
  .videoContain {
    width: 90%;
    margin: 0 auto;
    padding: 12px 0;
  }
  .videoContain .Videocontainer {
    width: 90%;
    margin: 0 auto;
  }
  .formulaire {
    width: 80%;
  }
  .instructions {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .instructions .pourquoi {
    width: 80%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer {
    height: auto;
    display: block;
    text-align: center;
  }
  footer p {
    margin: 8px 12px 0 12px;
    padding-bottom: 8px;
    background-color: #38588e;
  }
  footer .navigation {
    display: block;
    padding: 0;
  }
  footer .navigation a {
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */